* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    background-color: rgb(253,251,251);
}

header {
    grid-area: header;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    background-color: darkgreen;
}

.foto-perfil {
    width: 150px;
}

main {
    grid-area: main;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    border: solid black 6px;
}

aside, article {
    line-height: 1.5rem;
    padding: 4px;
}

aside {
    border-right: dotted black 4px;
    margin-right: 6px;
}

.texto {
    display: flex;
}

.lista-e-tabela {
    border-top: solid black 6px;
    display: flex;
    justify-content: space-evenly;
}

.lista-licoes-aprendidas, .lista-licoes-inaprendidas {
    margin: 8px 8px 8px 32px;
}

#licoes_aprendidas {
    list-style: decimal;
    
}

footer {
    grid-area: footer;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100vw;
    font-family: 'Dancing Script', cursive;
    font-size: 1.67rem;
}

#cabecalho {
    top: 0px;
    text-align: center;
    position: fixed;
    left: 0px;
    width: 100vw;
}


table, th, td {
    border: 1px solid;
    padding: 3px;
}